@import "../../variables.scss";

:host {
  display: block;
  float: right;
  width: calc(25% - 10px);
  text-align: right;
}

button {
  margin-left: 0.75em;
}

.table {
  height: $small-card-height;

  .card {
    width: $small-card-width;
    height: $small-card-height;
    background-size: $small-card-width $small-card-height;
    cursor: default;
    margin-right: -95px;
  }
}
