@import "variables.scss";

body {
  margin: 20px;
  background: hsl(162, 48%, 20%);
  color: hsl(0, 0%, 100%);
  font-family: sans-serif;
}

button, input, label {
  display: inline-block;
  vertical-align: middle;
}

button {
  margin: 0 0.25em;
}

input[type=number] {
  width: 3em;
}

.heading {

  label {
    font-weight: normal;
    font-size: 1rem;
  }
}

.checkbox-input input {
  vertical-align: text-top;
}

.card {
  display: inline-block;
  width: $large-card-width;
  height: $large-card-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $large-card-width $large-card-height;
  margin-right: -190px;
  cursor: pointer;

  &:last-child {
    margin-right: 0 !important;
  }

  &:hover {
    margin-right: -75px;
  }
}
